<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Knowlege Graph</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!-- <script src='main.js'></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<!-- <body> -->
<body class="text-center">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">NLPA Assignment (Knowlege Graphs)</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Upload</a>
              </li>
            </ul>
            <!-- <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-4" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-4 my-sm-0" type="submit">Search</button>
            </form> -->
          </div>
        </nav>
      </header>
      <br>
    <br><br>
   <div class="container">
        <div class="col-md-4 offset-4">
                <form class="form-signin" method="POST" action="addNodes" enctype=multipart/form-data>
                    <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
                    <h1 class="h3 mb-3 font-weight-normal">Upload the csv file</h1>
                    <!-- <label for="entity1" class="sr-only">Entity 1</label>
                    <input type="text" id="node1" name="node1" class="form-control" placeholder="Enter Entity-1 / Node 1" required autofocus>
                   <br>
                    <label for="relation" class="sr-only">Relation</label> -->
                    <!-- <input type="text" id="relation" name="relation" class="form-control" placeholder="Enter Relation" required autofocus>
                    <br>
                    <label for="entity2" class="sr-only">Entity 2</label>
                    <input type="text" id="node2" name="node2" class="form-control" placeholder="Enter Entity-2 / Node 2" required autofocus> -->
                  
                    <br>
                    <input type="file" name="file" class="form-control" required/>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
                    <p class="mt-5 mb-3 text-muted">Upload the csv to generate the graph network</p>
                  </form>

                  {% if status %}
                  <div class="alert alert-success" role="alert">
                    Your node has been successfully added, please go back to <a href="/">home page</a> to view. {{status}}
                  </div>
                    {% endif %}
        </div>
   </div>
  

        <!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>